# Project name for organizing all DevBench containers in Docker Desktop
# This creates the dev-bench project with flutter_bench, java_bench, etc.
name: dev-bench

services:
  flutter_bench:
    env_file: ../.env
    image: flutter-bench:${USER}
    
    container_name: flutter_bench
    
    # Mount your workspace
    volumes:
      - ../:/workspace:cached
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.gitconfig:/home/brett/.gitconfig:ro
      - ~/.ssh:/home/brett/.ssh:ro
    
    # Forward Flutter and Android development ports
    ports:
      - "3003:3000"   # Flutter web dev server
      - "8083:8080"   # General web server
      - "8003:8000"   # Flutter debugging
      - "5037:5037"   # ADB server port
      - "5554:5554"   # Android emulator console
      - "5555:5555"   # Android emulator ADB
      - "42000:42000" # Flutter DevTools range
      - "42001:42001" # Flutter DevTools range
      - "42002:42002" # Flutter DevTools range
      - "42003:42003" # Flutter DevTools range
      - "42004:42004" # Flutter DevTools range
    
    # Keep container running
    command: sleep infinity
    
    # Allow privileged for Docker
    privileged: true
    
    # Set working directory
    working_dir: /workspace
    
    # Set user
    user: "1000:1000"
    
    # Environment variables
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
      - FLUTTER_ROOT=/opt/flutter
      - ANDROID_SDK_ROOT=/opt/android-sdk
      - ANDROID_HOME=/opt/android-sdk
      - ADB_SERVER_SOCKET=tcp:host.docker.internal:5037
    
    # Connect to shared DevBench network
    networks:
      - dev_bench

# Shared network for all DevBench containers
networks:
  dev_bench:
    name: dev_bench
    driver: bridge